<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Password:</strong>
  <%= @user.password %>
</p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Birthday:</strong>
  <%= @user.birthday %>
</p>

<p>
  <strong>Address:</strong>
  <%= @user.address %>
</p>

<p>
  <strong>Postal Code:</strong>
  <%= @user.postal_code %>
</p>



<%= link_to 'New Post', "/users/#{@user.id}/createpost"%> 
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', "/user" %>

<table>
	<thead>
		<td>
		Message
		</td>
		<td>
		Created at
		</td>
	</thead>
	<%@posts.each do |post|%>
	<tr>
		<td>
		<br><%=post.msg%>
		</td>
		<td>
		<br><%=post.created_at%>
		</td>
		<td><%= link_to 'Edit', "/posts/#{post.id}/edit"%></td>
        	<td><%= link_to 'Destroy', "/posts/#{post.id}", method: 'delete',  data: { confirm: 'Are you sure?' } %></td>
	</tr>	
	<%end%>
</table>
